<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite" parallel="tests" thread-count="2" >
    <listeners>
        <listener class-name="com.demo.parallel.database.DatabaseListener"/>
    </listeners>
    <test name="TestOnNexus">
        <parameter name="browser" value="android"/>
        <parameter name="avd" value="nexus_5_7.1.1"/>
        <parameter name="emulator" value="emulator-5554"/>
        <parameter name="version" value="7.1.1"/>
        <parameter name="port" value="4723"/>
        <classes>
            <class name="com.demo.parallel.tests.CalculatorAppTest"/>
        </classes>
    </test>
    <test name="TestOnSamsung">
        <parameter name="browser" value="android"/>
        <parameter name="avd" value="samsung_galaxy_s6_7.0"/>
        <parameter name="emulator" value="emulator-5554"/>
        <parameter name="version" value="7.0"/>
        <parameter name="port" value="4724"/>
        <classes>
            <class name="com.demo.parallel.tests.CalculatorAppTest"/>
        </classes>
    </test>
</suite>
