<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite" parallel="tests" thread-count="1" >
    <listeners>
        <listener class-name="DatabaseListener"/>
    </listeners>
    <test name="Calculator">
        <parameter name="browser" value="android"/>
        <parameter name="avd" value="nexus_5_7.1.1"/>
        <parameter name="emulator" value="emulator-5554"/>
        <parameter name="version" value="7.1.1"/>
        <classes>
            <class name="CalculatorTestRunner"/>
        </classes>
    </test>
</suite>
